.container h5, .container h2, .container h1{
  color: white;
}

screen{
  width: 90%;
}

.modal-header h1{
  color: black;
}

.btn[disabled] {
  background-color: #555555;
  color: white;
}

.selected-seats{
  max-width: 450px;
}

.titel{
  max-width: 500px;
}
