a, li svg{
  color: white;
}

a:hover, li:hover svg{
  color: var(--cm-yellow);
}

.navbar{
  height: 100px;
  margin: auto;
  max-width: 90%;
}

button:hover svg{
  fill: var(--cm-yellow);
}

.iconLogout{
  display: none;
}

.textLogout{
  display: block;
}

@media only screen and (max-width: 650px) {
  .iconLogout{
    display: block;
  }

  .textLogout{
    display: none;
  }
}


