a, li svg{
  color: white;
}

a:hover, a:hover svg{
  color: var(--cm-yellow);
}

li:hover button svg{
  color: black !important;
}

li:hover svg{
  color: var(--cm-yellow);
}

.navbar{
  height: 100px;
  margin: auto;
}

button:hover svg{
  color: var(--cm-yellow);
}

.iconLogout{
  display: none;
}

.textLogout{
  display: block;
}

.cine-logo{
  margin-top: -80px;
}

@media only screen and (max-width: 650px) {
  .iconLogout{
    display: block;
  }

  .textLogout{
    display: none;
  }

}


