.h7 {
  color: #A6A4A4;
  font-size: 0.8rem;
}

h5, h6 {
  color: black;
}

.overview{
  width: 50%;
}

.bg-canceled {
  background-color: #D90202;
  color: white;
}

.bg-visited {
  background-color: var(--cm-yellow-light);
  color: white;
}

.bg-booked {
  background-color: #25F316;
  color: white;
}

@media only screen and (max-width: 950px) {
  .overview {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .overview {
    width: 90%;
  }
}

@media only screen and (max-width: 350px) {
  .overview {
    width: 100%;
  }
}
