<ng-container *ngIf="booking">
  <ng-container *ngIf="seats$ | async as seats">
    <div class="d-flex flex-column justify-content-center align-items-center container">
      <h1 class="mb-4 text-white">Booking overview</h1>
      <div class="overview bg-white rounded-2 p-4 container d-flex flex-column">
        <div class="d-flex flex-row">
          <hr class="ms-auto">
        </div>
        <span class="h7 m-0">Title</span>
        <div class="d-flex flex-row">
          <h1 class="m-0 pe-2">{{booking.Titel}}</h1>
          <span class="date rounded-1 align-self-end px-1 mb-2">{{booking.Saaltyp}}</span>
        </div>
        <div class="d-flex flex-row gap-2">
          <span class="genre rounded-1 align-self-start p-1 mb-2 mt-2">{{booking.Genre | uppercase}}</span>
          <span class="genre rounded-1 align-self-start p-1 mb-2 mt-2 gap-1 d-flex align-items-center">
            {{booking.Dauer }} MIN
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
              <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
              <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
              <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
            </svg>
          </span>
          <span class="genre rounded-1 align-self-start p-1 mb-2 mt-2">FSK {{booking.Altersfreigabe }}</span>
        </div>
        <hr class="w-100 border border-1">
        <div class="d-flex flex-row">
          <div class="col-4">
            <span class="h7 m-0">Booking ID</span>
            <h6>#{{booking.BuchungsID}}</h6>
          </div>
          <div class="col-5">
            <span class="h7 m-0">Booking Date</span>
            <h6 class="gap-1 d-flex align-items-center">
              {{booking.Kaufdatum | date:'dd.MM.yyyy'}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
              </svg>
            </h6>
          </div>
          <div class="col-3">
            <span class="h7 m-0">Total Price</span>
            <h6>{{booking.GesamtPreisBrutto}}€ ({{booking.GesamtPreisNetto}}€)</h6>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="col-4">
            <span class="h7 m-0">Room</span>
            <h6>{{booking.Saalname}}</h6>
          </div>
          <div class="col-5">
            <span class="h7 m-0">Event Date</span>
            <h6 class="gap-1 d-flex align-items-center">
              {{booking.Vorfuehrungsdatum | date:'dd.MM.yyyy'}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
              </svg>
            </h6>
          </div>
          <div class="col-3">
            <span class="h7 m-0">Event Time</span>
            <h6 class="gap-1 d-flex align-items-center">
              {{booking.Vorfuehrungszeit |  slice:0:5}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
              </svg>
            </h6>
          </div>
        </div>
        <hr class="w-100 border border-1">
        <ng-container *ngFor="let seat of seats">
          <h6 class="gap-1 d-flex align-items-center">
            1x {{seat.Tickettyp}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
          </h6>
          <div class="d-flex flex-row">
            <span class="col-2 h7 m-0">Row</span>
            <span class="col-2 h7 m-0">Seat</span>
            <span class="col-5 h7 m-0">Status</span>
            <span class="col-3 h7 m-0">Price</span>
          </div>
          <div class="d-flex flex-row">
            <h6 class="col-2">{{seat.Reihennummer}}</h6>
            <h6 class="col-2">{{seat.Sitznummer}}</h6>
            <h6 class="col-5">{{seat.Sitztyp}}</h6>
            <h6 class="col-3">{{seat.PreisBrutto}}€ ({{seat.PreisNetto}}€)</h6>
          </div>
          <hr class="w-100 border border-1">
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
