<div *ngIf="movie$ | async as movie" class="movie-details-container">
  <div class="movie-header">
    <div class="movie-poster">
      <img [src]="movie.pathPictureLarge" [alt]="movie.movieName" class="img-fluid" fill=""/>
    </div>
    <div class="movie-info">
      <h1>{{ movie.movieName }}</h1>
      <p>{{ movie.movieDescription }}</p>
      <p>Duration: {{ movie.duration }} minutes</p>
      <p>Age rating: {{ movie.age }}</p>
      <p>Genre: {{ movie.genre }}</p>
      <p>Director: {{ movie.director }}</p>
      <p>Release date: {{ movie.releaseDate | date }}</p>
    </div>
  </div>


  <div *ngIf="groupedEvents$ | async as groupedEvents" class="showtimes">
    <h2>Showtimes</h2>
    <div *ngFor="let group of groupedEvents">
      <h3>{{ group.date | date:'fullDate' }}</h3>
      <div class="event-buttons">
        <div *ngFor="let event of group.eventsToShow" class="event-button-wrapper">
          <button class="event-button" (click)="goToRoom(event.eventID)">
            <div class="cinema-info">{{ event.roomName }}</div>
            <div class="time">{{ event.eventTime }}</div>
            <div class="saal-type">{{ event.roomType }}</div>
          </button>
        </div>
      </div>
      <button *ngIf="group.eventsToShow.length < group.events.length" class="more-button" (click)="showMore(group.date)">+ more</button>
    </div>
  </div>
</div>


