body {
  background-color: black;
}

html, body {
  height: 100%;
  --cm-yellow: #FFD700;
  --cm-yellow-light: #F5A623;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-yellow{
  background-color: var(--cm-yellow);
  color: black;
}

.btn-outline-yellow, .btn-outline-yellow-b{
  border-color: var(--cm-yellow);
  color: var(--cm-yellow);
}

.btn-outline-yellow:hover{
  background-color: var(--cm-yellow);
  color: white;
}

.btn-outline-yellow-b:hover{
  background-color: var(--cm-yellow);
  color: black;
}

.btn-outline-yellow:disabled, btn.btn-outline-yellow-b:disabled, .btn-yellow-b:disabled, .btn-yellow-w:disabled{
  border-color: #646262;
  background-color: black;
  color: #646262;
}

.btn-yellow-w {
  border-color: var(--cm-yellow);
  background-color: var(--cm-yellow);
  font-weight: 500;
  color: white;
}

.btn-yellow-b {
  border-color: var(--cm-yellow);
  background-color: var(--cm-yellow);
  font-weight: 500;
  color: black;
}

.btn-yellow-b:hover{
  background-color: var(--cm-yellow-light);
  color: black;
}

.btn-yellow-w:hover{
  background-color: var(--cm-yellow-light);
  color: white;
}
