<div *ngIf="film" class="container px-3">
  <div class="movie-header mb-3 gap-3">
    <div class="movie-poster">
      <img [src]="film.PfadGrossesBild" alt="{{ film.Titel }}" class="img-fluid"/>
    </div>
    <div class="movie-info">
      <h1>{{ film.Titel }}</h1>
      <div class="d-flex flex-row align-items-center">
        <app-rating [maxStars]="5" [averageRating]="film.Gesamtbewertung" [readOnly]="true" class="me-3"></app-rating>
        <span class="me-1">{{ film.Gesamtbewertung }}</span>
        <span>({{ film.AnzahlBewertungen }})</span>
      </div>
      <p>{{ film.Beschreibung }}</p>
      <p>Duration: {{ film.Dauer }} minutes</p>
      <p>Age rating: {{ film.Altersfreigabe }}</p>
      <p>Genre: {{ film.Genre }}</p>
      <p>Director: {{ film.Regisseur }}</p>
      <p>Release date: {{ film.Erscheinungsdatum | date }}</p>
    </div>
  </div>
  <div *ngIf="groupedEvents.length > 0" class="showtimes">
    <h2>Showtimes</h2>
    <div *ngFor="let group of groupedEvents">
      <h3>{{ group.date | date:'fullDate' }}</h3>
      <div class="event-buttons">
        <div *ngFor="let event of group.eventsToShow" class="event-button-wrapper">
          <button class="event-button" (click)="goToRoom(event.VorfuehrungsID)">
            <div class="cinema-info">{{ event.Saalname }}</div>
            <div class="time">{{ event.Vorfuehrungszeit }}</div>
            <div class="saal-type">{{ event.Saaltyp }}</div>
          </button>
        </div>
      </div>
      <button *ngIf="group.eventsToShow.length < group.events.length" class="more-button"
              (click)="showMore(group.date)">+ more
      </button>
    </div>
  </div>
</div>
