<div class="d-flex flex-row rounded-1 border border-2 py-2 px-3 mb-3 justify-content-center text-white align-content-center"
     [ngClass]="{'border-danger': seat.Sitztyp === 'Premium'}">
  <p class="m-0 me-auto">
    {{seat.personType}} | Row: {{ seat.Reihennummer }} Seat: {{ seat.Sitznummer }} | Price: {{ seat.priceBrutto }}€ ({{ seat.priceNetto }}€)
  </p>
  <div *ngIf="isRoomComponent" class="removeTicket ps-2" (click)="onRemoveSeat()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
    </svg>
  </div>
</div>
