.newsletter-container {
  background-color: #000;
  color: #FFD700;
  padding: 20px;
  text-align: center;
}

.newsletter-header h1 {
  margin-bottom: 20px;
  font-size: 2em;
  text-transform: capitalize;
}

.newsletter-content h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.newsletter-content p {
  margin-bottom: 20px;
  font-size: 1em;
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"], input[type="checkbox"] {
  margin-top: 5px;
  width: 50%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #FFD700;
  border-radius: 5px;
  background-color: #222;
  color: #FFD700;
}

input[type="checkbox"] {
  width: auto;
  margin-top: 0;
}

input[type="email"] {
  border: 2px solid #FFD700;
  background-color: #333;
  color: #FFD700;
}

input[type="email"]::placeholder {
  color: #FFD700;
}

button {
  background-color: #FFD700;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #FF4500;
}

.snackbar-success {
  background-color: green;
}

.snackbar-error {
  background-color: red;
}
