<div class="navbar w-100 justify-content-between px-5 footer mt-5">
  <ul class="d-flex gap-4 w-100 list-unstyled justify-content-center">
    <li><a class="pb-2 mt-2 text-decoration-none" href="#">Facebook</a></li>
    <li><a class="pb-2 mt-2 text-decoration-none" href="#">Instagram</a></li>
    <li><a class="pb-2 mt-2 text-decoration-none" href="#">Programm</a></li>
    <li><a class="pb-2 mt-2 text-decoration-none" href="#">News</a></li>
  </ul>
  <ul class="footer-content d-flex flex-column gap-4 w-100 list-unstyled">
    <li class="text-decoration-none">
      <hr>
    </li>
    <li class="text-decoration-none"><p>&#169; CineMagic GmbH</p></li>
  </ul>
</div>

